.navbar {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 2%, 8%);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: hsl(32, 88%, 54%);
}